// .form {
//   display: flex;
//   justify-content: flex-end;
//   margin-right: 50px;
// }

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crudWrap {
  align-content: center;
  border: black solid 2px;
  max-width: 150px;
  height: auto;
}

.formWrapper {
 display: flex !important;
 border: black solid 2px;
}

.radio {
  margin-left: 10px;
}